<div class="cz_pagination" *ngIf="totalPage">
    <span class="cz_grid_next_privious_span">
      <span class="backward-list">
        <i class="fa fa-angle-double-left" aria-hidden="true" (click)="moveToFirstPage()"></i>
        <i class="fa fa-angle-left" aria-hidden="true" (click)="moveToPrevious()"></i>
      </span>
      <span class="pages-count" *ngIf="totalPage > 1">Page {{this.pageNo}} of {{this.totalPage}}</span>
      <span class="pages-count" *ngIf="totalPage == 1">Page {{this.pageNo}} of {{this.totalPage}}</span>
      <span class="forward-list">
        <i class="fa fa-angle-right pagination-arrow" aria-hidden="true" (click)="moveToNext()"></i>
        <i class="fa fa-angle-double-right" aria-hidden="true" (click)="moveToLastPage()"></i>
      </span>
    </span>
    <span class="cz_grid_count_span float-right mr-3"> {{(this.pageNo - 1) * 100 + 1}}
        to
        {{(this.pageNo * 100) > totalItems ? totalItems : (this.pageNo * 100)}} of {{this.totalItems}} </span>
</div>
