<div class="cz_pagination">
    <!-- <span class="cz_grid_count_span "> {{this.itemFrom}} to {{this.ItemTO}} of {{this.TotalItems}} </span> -->
    <span class="cz_grid_next_privious_span">
      <span class="backward-list">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        <i class="fa fa-angle-left" aria-hidden="true" (click)="gridApi?.paginationGoToPreviousPage()"></i>
      </span>
      <span>Page {{gridApi?.paginationGetCurrentPage() + 1}} of {{gridApi?.paginationGetTotalPages()}}</span>
      <span class="forward-list">
        <i class="fa fa-angle-right" aria-hidden="true" (click)="gridApi?.paginationGoToNextPage()"></i>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </span>
    </span>
</div>
