.cz_pagination {
    width: 100%;
    float: right;
    background: #ffffff;
    margin-right: 190px;
}

span.cz_grid_count_span {
    font-size: 16px;
}

span.cz_grid_next_privious_span {
    font-size: 16px;

    span.pages-count {
        display: inline-block;
        vertical-align: top;
    }
}

span.backward-list,
span.forward-list {
    i {
        cursor: pointer;
        font-size: 24px;
        &:hover {
            color: #b3b3b3;
        }
    }
}

span.forward-list i {
    margin-left: 10px;
}

span.backward-list i {
    margin-right: 10px;
}
