<div bsModal #itemPopup="bs-modal" class="modal fade slide-right" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <button type="button" class="close" (click)="slideRight.hide()" aria-hidden="true"><i class="pg pg-close fs-14"></i>
          </button>
          <div class="container-xs-height full-height">
            <div class="row-xs-height">
              <div class="modal-body col-xs-height col-middle text-center">
                <h5 class="text-primary ">Item details here</h5>
                <br>
                <button type="button" class="btn btn-default btn-block" (click)="itemPopup.hide()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>