.toolbar {
  display: flex;
  margin: 0;
  border-left: 4px solid #04a9f5;
  border-bottom: 1px solid #eaeaea;
  padding:10px 16px;

  .search-group {
    margin-left: auto;
    max-width: 220px;
  }
}