<div
        [ngbTooltip]="tipContent" triggers="manual" #tooltip="ngbTooltip" container="body" tooltipClass="tooltip-error"
        class="h-100"
        [ngClass]="{'has-cell-error' : isCancel}"
>
    <input
        #input
        class="ag-cell-edit-input border-0"
        type="number"
        [(ngModel)]="value"
        (ngModelChange)="onChange(tooltip)"
        [name]="params.option.techName"
        [step]="params.option.options.allowDecimal ? '0.1' : '1'"
        [min]="params.option.options.minValue"
        [max]="params.option.options.maxValue"
        [readOnly]="params.option.readonly"
        [required]="params.option.readonly ? false : params.option.isRequired"
        style="width: 100%"

    />
</div>
<ng-template #tipContent let-error="error">{{error}}</ng-template>
