
  <app-ag-grid #agGridComponent
  [items]="items"
  [fields]="fields"
  [searchedValue]="searchedValue"
  [oldArrow]="oldArrow"
  [sortOrder]="sortOrder"
  [headerField]="headerField"
  [CustomeHeaderField]="CustomeHeaderField"
  [oldSearchId]="oldSearchId"
  [openedSearchedBoxId]="openedSearchedBoxId"
  [agheader]="agheader"
  [agHeaderCheckbox]="agHeaderCheckbox"
  [pageNo]="pageNo"
  [RowIndex]="RowIndex"
  [gridRows]="gridRows"
  [showAllCheckBox]="showAllCheckBox"
  [notreffress]="notreffress"
  [SelectedRowData]="SelectedRowData"
  [TotalItems]="TotalItems"
  [noOfSelectedRows]="noOfSelectedRows"
  [itemSelectionView]="itemSelectionView"
  [celldbclicked]="celldbclicked"
  [itemCulomns]="itemCulomns"
  [fieldName]="fieldName"
  [fieldType]="fieldType"
  [fieldslable]="fieldslable"
  [fieldTypeWithNo]="fieldTypeWithNo"
  [columnLoaded]="columnLoaded"
   [projectId]="projectId"
  ></app-ag-grid>



  <app-pagination #pagination [totalPage]="totalPage" [pageNo]="pageNo"></app-pagination>
