<button class="btn btn-brimary" (click)="itemDetails.show()">
  Open item details example
</button>

<button class="btn btn-brimary" (click)="itemsSelectionshow()">
  Open items selection example
</button>

<button class="btn btn-brimary" (click)="newItem.show()">
  Add New Item
</button>
<button class="btn btn-brimary" (click)="addNewfield.show()">
  Add new field
</button>

<app-item-details #itemDetails></app-item-details>
<app-items-selection #itemsSelection [fields]="fields" [fieldType]="fieldType" [fieldName]="fieldName"
  [projectId]="projectId" [SelectedRowData]="SelectedRowData" [fieldslable]="fieldslable"
  (getLatestitem)="getLatestitem($event)"></app-items-selection>
<app-new-item #newItem [fieldslable]="fieldslable" [fieldType]="fieldType" [fieldName]="fieldName"
  [projectId]="projectId" [fields]="fields"></app-new-item>

<app-edit-single-item #editSingleItem [fieldslable]="fieldslable" [fields]="fields" [fieldType]="fieldType"
  [fieldName]="fieldName" [projectId]="projectId" [dbclicked]="dbclicked" (getLatestitem)="getLatestitem($event)">
</app-edit-single-item>

<app-add-new-field #addNewfield [fieldType]="fieldType" [fieldName]="fieldName" [projectId]="projectId"
  [fields]="fields" (calloninit)="calloninit($event)" [fieldTypeWithNo]="fieldTypeWithNo"></app-add-new-field>


<ag-grid-angular #agGrid id="agGrid" style="width: 100%;" *ngIf="items && items.length > 0 && columnLoaded"
  class="ag-theme-material" [domLayout]="'autoHeight'" [rowData]="items" [columnDefs]="itemCulomns"
  [rowSelection]="rowSelection" [rowDragManaged]="true" [defaultColDef]="defaultColDef"
  (columnClick)="onColumnClick($event)" (cellDoubleClicked)="oncellDoubleClicked($event,dbclicked)"
  (cellMouseOver)="oncellMouseOver($event)" (rowSelected)="onSelectionChanged($event)" (gridReady)="onGridReady($event)"
  (rowSelected)="onrowSelected($event)" (rowClicked)="editSingleItem.show($event)" (rowDragEnd)="onrowDragEnd($event)"
  [suppressRowClickSelection]="true" (cellValueChanged)="oncellValueChanged($event)" (cellClicked)="oncellClicked($event)"
  (columnMoved)="oncolumnMoved($event)" (columnValueChanged)="oncolumnValueChanged($event)" [components]="components"
  [modules]="modules" [sortingOrder]="sortingOrder" (getSort)="getSort($event)" (getSortModel)="ongetSortModel($event)"
  (rowsAfterSort)="onrowsAfterSort($event)" (dataStateChange)="dataStateChange($event)"  (rowDataChanged)="onrowDataChanged($event)"> 
</ag-grid-angular>
<div class="cz_pagination">
  <!-- <span class="cz_grid_count_span "> {{this.itemFrom}} to {{this.ItemTO}} of {{this.TotalItems}} </span> -->
  <span class="cz_grid_next_privious_span">
    <span class="backward-list">
      <i class="fa fa-angle-double-left" aria-hidden="true" ></i>
      <i class="fa fa-angle-left" aria-hidden="true" (click)="moveToPrivious()"></i>
    </span>
    <span>Page {{this.pageNo}} of {{this.totalPage}}</span>
    <span class="forward-list">
      <i class="fa fa-angle-right" aria-hidden="true"  (click)="moveToNext()" ></i>
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </span>
  </span>
</div>