.add-field-option {
    i {
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.4;
    }
  
    cursor: pointer;
    padding: 30px 25px;
    margin: 10px;
    &:hover {
      box-shadow: 0 140px 0 0  rgba(0,0,0,0.10) inset, 0 -140px 0 0  rgba(0,0,0,0.10) inset;
    }
  }
  