<div class="container-fluid padding-0 sm-gutter h-100" style="padding-bottom: 0!important;">
    <div class="card card-borderless h-100" id="main-card">
        <div class="title">
            <h3 class="project-title">{{project?.name}}</h3>
            <div class="title-toolbar">
                <button class="btn btn-success float-right"><fa-icon [icon]="publishIcon"></fa-icon> Publish</button>
                <button class="btn btn-default float-right"><fa-icon [icon]="generateIcon"></fa-icon> Generate report</button>
            </div>
        </div>
        <pg-tabset tabAnimation="slide-left" class="h-100" Type="simple" ShowPagination="true"
            (click)="ShowItemSelection($event)">
            <pg-tab>
                <ng-template #TabHeading>
                    Items
                </ng-template>
                <div class="row">
                    <div class="col-lg-12">
                        <app-items-list [itemSelectionView]="itemSelectionView"></app-items-list>
                    </div>
                </div>
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    Summary
                </ng-template>
                <div class="row column-seperation">
                    <div class="col-lg-6">

                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    Comments
                </ng-template>
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
            </pg-tab>
        </pg-tabset>
    </div>
</div>