<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <div class="card card-borderless">
        <pg-tabset tabAnimation="slide-left" Type="simple" ShowPagination="true" (click)="ShowItemSelection($event)">
            <pg-tab>
                <ng-template #TabHeading>
                    Summary
                </ng-template>
                <div class="row column-seperation">
                    <div class="col-lg-6">

                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
            </pg-tab>
            <pg-tab >
                <ng-template #TabHeading>
                    Items
                </ng-template>
                <div class="row" >
                    <div class="col-lg-12">
                        <app-items-list [projectId]="projectId" [itemSelectionView]="itemSelectionView"></app-items-list>
                    </div>
                </div>
            </pg-tab>
            <pg-tab>
                <ng-template #TabHeading>
                    Comments
                </ng-template>
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
            </pg-tab>
        </pg-tabset>
    </div>
</div>