<div class="container-fluid padding-25 sm-padding-10 sm-gutter inner-contain">
    <h2 class="headline">Projects</h2>
    <div class="projects-container">
        <button class="new-project-button" (click)="openCreateProject()">New Project</button>
        <app-project-box *ngFor="let project of projects | sortBy : 'asc' : 'pinned'" [type]="project.projectType"
            [name]="project.name" [description]="project.description" [id]="project._id" [pinned]="project.pinned">
        </app-project-box>
    </div>
</div>

<app-create-project #createProjectModal></app-create-project>