<div class="selection-popup d-inline float-right">
    <div class="mb-2" *ngIf=" itemSelectionView == true || itemSelectionViewI">
        <h6 class="text-primary d-inline">{{SelectedRowData.length}} selected </h6>
        <div class="custom-popup-button d-inline ml-1">
            <button class="btn" (click)="copyItems()">Copy</button>
            <button class="btn" (click)="cut()">Cut</button>
            <button class="btn" (click)="editItem.show()">Mass Edit</button>
            <button class="btn" (click)="duplicateItems()">Duplicate</button>
            <button class="btn" (click)="deleteItems()">Delete</button>
        </div>
    </div>

    <div *ngIf="copyDataLengthcount > 0 " class="custom-popup-button line">
        <h6 class="text-primary d-inline" *ngIf="pastetype == 'copy'">{{copyDataLengthcount}} copied </h6>
        <h6 class="text-primary d-inline" *ngIf="pastetype == 'cut'">{{copyDataLengthcount}} copied </h6>
        <button class="btn" (click)="paste()">Paste</button>
    </div>
</div>

<app-edit-item
    #editItem
    [fields]="fields"
    [fieldslable]="fieldslable"
    [fieldType]="fieldType"
    [fieldName]="fieldName"
    [projectId]="projectId"
    [SelectedRowData]="SelectedRowData"
    (callgetLatestitem)="callgetLatestitem($event)"
></app-edit-item>
