<div (mouseenter)="showActions=true" (mouseleave)="showActions=false" class="card project-card" data-social="item">
  <div class="card-header" (click)="openProject()">
    <app-project-box-actions [projectId]="id" @showHideAnimation *ngIf="showActions">
    </app-project-box-actions>
    <h5><fa-icon class="pinned-icon" *ngIf="pinned" [icon]="pinnedIcon"></fa-icon> {{name}}</h5>
  </div>
  <div class="card-content">
    <fa-icon class="type-icon" [icon]="icon"></fa-icon> <span class="type-text"> {{typeName}}</span>
  </div>
</div>