
<button class="btn btn-brimary" (click)="itemDetails.show()">
  Open item details example
</button>

<button class="btn btn-brimary" (click)="itemsSelection.show()">
  Open items selection example
</button>

<button class="btn btn-brimary" (click)="newItem.show()">
  Add New Item
</button>
<button class="btn btn-brimary" (click)="addNewfield.show()">
  Add new field
</button>
<app-cell-edit #cellEditComponent [celldbclicked]="celldbclicked" [pageNo]="pageNo"></app-cell-edit>
<app-grid-events #gridEventsComponent [showAllCheckBox]="showAllCheckBox" [noOfSelectedRows]="noOfSelectedRows"
  [SelectedRowData]="SelectedRowData" [TotalItems]="TotalItems" [agheader]="agheader"
  [agHeaderCheckbox]="agHeaderCheckbox" [columnMoved]="columnMoved" [gridRows]="gridRows" [RowIndex]="RowIndex"
  [datainarry]="datainarry" [pageNo]="pageNo" [dragEnterRowOrder]="dragEnterRowOrder"
  [itemSelectionViewI]="itemSelectionViewI" [itemSelectionView]="itemSelectionView" [agGridComponent]="agGridComponent"
  [celldbclicked]="celldbclicked"></app-grid-events>
<app-row-column-drag #RowColumnDragComponent [itemCulomns]="itemCulomns" [columnMoved]="columnMoved">
</app-row-column-drag>
<app-show-hide-checkbox #showHideCheckboxComponent [pageNo]="pageNo"></app-show-hide-checkbox>
<app-item-details #itemDetails></app-item-details>
<app-items-selection #itemsSelection [fields]="fields" [fieldType]="fieldType" [fieldName]="fieldName"
  [projectId]="projectId" [SelectedRowData]="SelectedRowData" [fieldslable]="fieldslable"
  [itemSelectionView]="itemSelectionView"  [pageNo]="pageNo"
  [itemSelectionViewI]="itemSelectionViewI" (getLatestitem)="getLatestitem($event)"></app-items-selection>
<app-new-item #newItem [fieldslable]="fieldslable" [fieldType]="fieldType" [pageNo]="pageNo" [fieldName]="fieldName"
  [projectId]="projectId" [fields]="fields"></app-new-item>

<app-edit-single-item #editSingleItem [fieldslable]="fieldslable" [fields]="fields"   [pageNo]="pageNo"
[fieldType]="fieldType"
  [fieldName]="fieldName" [projectId]="projectId" [celldbclicked]="celldbclicked"
>
</app-edit-single-item>

<app-add-new-field #addNewfield [fieldType]="fieldType" [fieldName]="fieldName" [projectId]="projectId"
  [fields]="fields" (getfilelds)="getfilelds($event)" [fieldTypeWithNo]="fieldTypeWithNo"></app-add-new-field>
<ag-grid-angular #agGrid id="agGrid" style="width: 100%;" *ngIf="items && items.length > 0 && columnLoaded"

    class="ag-theme-material" [domLayout]="'autoHeight'" [rowData]="items" [columnDefs]="itemCulomns"
    [rowSelection]="rowSelection"  [defaultColDef]="defaultColDef" [animateRows]="true" 
    (columnClick)="onColumnClick($event)" (cellDoubleClicked)="oncellDoubleClicked($event,celldbclicked)"
    (cellMouseOver)="oncellMouseOver($event)" (rowSelected)="onSelectionChanged($event)" (gridReady)="onGridReady($event)"
    (rowClicked)="editSingleItem.show($event)" (rowDragEnd)="onrowDragEnd($event)"
    [suppressRowClickSelection]="true" (cellValueChanged)="oncellValueChanged($event)"
    (columnMoved)="oncolumnMoved($event)" (columnValueChanged)="oncolumnValueChanged($event)" [components]="components"
    [modules]="modules" [sortingOrder]="sortingOrder" (getSort)="getSort($event)" (getSortModel)="ongetSortModel($event)"
    (rowsAfterSort)="onrowsAfterSort($event)" (dataStateChange)="dataStateChange($event)" (dragStopped)="ondragStopped($event)"
    (rowDataChanged)="onrowDataChanged($event)" (cellMouseOut)="oncellMouseOut($event)" (rowDragEnter)="onrowDragEnter($event)"
    [frameworkComponents]="frameworkComponents" (sortChanged)="onsortChanged($event)" (GetFields)="GetFields()" (getItems)="getItems()"> 
  
    </ag-grid-angular>
