::ng-deep .ag-body-viewport div[role="rowgroup"] div[role="row"][selected='true']  {
    background-color: #e0efe1!important;
}

::ng-deep .ag-root-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

::ng-deep .ag-row-selected .ag-selection-checkbox {
    display: block!important;
}

.grid-toolbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ag-grid {
    flex: 1 1 auto;
}

app-items-selection {
    display: flex;
}

::ng-deep .ag-selected-rows .ag-selection-checkbox {
    display: block!important;
}

::ng-deep .ag-menu {
    overflow-y: inherit;
}
