<div [formGroup]="numberForm">
    <fieldset class="form-group">
        <app-switch-editor formControlName="allowDecimal" label="Allow decimal"
            [isChecked]="numberForm.get('allowDecimal')">
        </app-switch-editor>
    </fieldset>
    <fieldset class="form-group">
        <label>Min value</label>
        <input formControlName="minValue" class="form-control" type="number">
    </fieldset>
    <fieldset class="form-group">
        <label>Max value</label>
        <input formControlName="maxValue" class="form-control" type="number">
    </fieldset>
</div>