<div class="container p-3">
    <ng-select [items]="types"
               [ngClass]="{'invalid': invalid}"
               bindLabel="name"
               appendTo="div.ag-filter"
               placeholder="Select type"
               [ngModel]="type"
               (change)="onSelectChange($event)"
    >
    </ng-select>
    <br>

    <input
            type="number"
            #input
            (ngModelChange)="onChange($event)"
            [ngModel]="number"
            placeholder="Filter..."
            class="form-control"
    />
</div>
