#new-item {
    width: 100%;
    max-width: 500px;
    left: auto;
}

input[type='date'] {
    position: relative;
    width: 100%;
    height: 20px;
    color: transparent;
}

input[type='date']:before {
    position: absolute;
    top: 0;
    left: 3px;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

input[type='date']::-webkit-datetime-edit, input[type='date']::-webkit-inner-spin-button, input[type='date']::-webkit-clear-button {
    display: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 1;
}

.form-body {
    max-height: 80vh;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}
