<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-user-plus auth-icon"></i>
          </div>
          <h3 class="mb-4">Sign up</h3>
          <div class="input-group mb-3">
            <input name="email" ngModel type="email" #emailInput="ngModel" required email class="form-control" placeholder="Email">
          </div>
          <div class="input-group mb-4">
            <input type="password" name="password" ngModel placeholder="Password" #passwordInput="ngModel" required class="form-control">
          </div>
          <div class="form-group text-left">
            <div class="checkbox checkbox-fill d-inline">
              <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-1" checked="">
              <label for="checkbox-fill-1" class="cr"> Save Details</label>
            </div>
          </div>
          <div class="form-group text-left">
            <div class="checkbox checkbox-fill d-inline">
              <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
              <label for="checkbox-fill-2" class="cr">Send me the <a href="javascript:"> Newsletter</a> weekly.</label>
            </div>
          </div>
          <button class="btn btn-primary shadow-2 mb-4" type="submit">Sign up</button>
          <p class="mb-0 text-muted">Already have an account? <a [routerLink]="['/auth/signin']"> Log in</a></p>
        </div>
      </div>
    </form>
  </div>
</div>
