
// -------------------- ag grid styles -----------------------------
$ag-primary-color: #2196F3; // blue-500
$ag-accent-color: #FFD740; // amber-A200

@import '../node_modules/ag-grid-community/src/styles/ag-grid.scss';
@import '../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material.scss';
.modal .modal-dialog.modal-sm {
    margin: 0!important;
    position: absolute!important;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)!important;
}
bs-modal-backdrop.modal-backdrop.fade.in.show {
    opacity: 0;
}
.modal-dialog.modal-sm.selection-popup { 
    position: fixed;
    max-width: 400px;
    background: #fff;
    z-index: 9;
    bottom: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}
.selection-popup button.close {
    position: absolute;
    right: 4px;
    top: 4px;
    line-height: 14px;
    z-index: 1;
}
.selection-popup .modal-content {
    border: 1px solid rgba(0, 0, 0, 0.09);
}


// .ag-theme-material .ag-header {
//     position: relative;
//     z-index: 9;
// }
// .ag-header-row, .ag-header, .ag-header-viewport, .ag-header-cell {
//     overflow: initial !important;
// }
// .search_text_default {
//     position: absolute;
//     background: #ffffff;
//     padding: 0px 2px;
//     left: 0;
//     top: 48px;
//     z-index: 1;
//     max-width: 100%;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }


// .search_text_default input {
//     border: none;
//     border-radius: 2px;
//     max-width: 100%;
// }

// .search_text_default hr {
//     margin: 11px;
//     padding: 0px;
// }

// .modal-body.col-xs-height.col-middle.text-center.p-up {
//     padding: 15px;
// }


/* Hide scrollbar for IE and Edge */


.ag-selection-checkbox{
    display: none;
}


.ag-cell.ag-cell-with-height.ag-cell-value.ag-cell-focus.ag-cell-inline-editing {
    width: 172px!important;
    height: 50px;
}

.ag-cell-inline-editing .ag-cell-edit-input, .ag-cell-inline-editing .ag-input-wrapper {
    background: #fff;
}
span.cz_grid_next_privious_span {
    float: right;
}
div#edit-single-model {
    width: 100%;
    max-width: 500px;
    left: auto;
}


