.field-type-box3 {
    background: #0a4e5d;
    border-radius: 50px;
    text-align: center;
    float: left;
    &.small {
      width: 30px;
      height: 30px;
      margin-top: 7px;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

      i{
        font-size: 16px;
      }
    }
    &.large {
      width: 180px;
      height: 140px;
      padding: 30px;

      i{
        font-size: 32px;
      }

      transition:all 0.4s;
      &:hover, &.selected {
          box-shadow: 0 140px 0 0  rgba(0,0,0,0.10) inset, 0 -140px 0 0  rgba(0,0,0,0.10) inset;
      }
    }
    
  }